body{
	font-family: 'Open Sans Condensed', 'Myriad Pro', 'Helvetica', sans-serif;
	padding: 0;
	margin: 0;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	transition: 0.5s;
	margin-top: 2.5vw;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
table:hover{
	box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.25);
}

tr:nth-child(odd) {
	background-color: #eeeeee;
}

tr td:last-child,
tr th:last-child {
	text-align: center;
	width: 20%;
}

#basis{
	position: absolute;
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
}

#keuze{
	position: absolute;
	width: 30%;
	height: 100%;
	margin-left: 35%;
}

#talen,
#verkenningstrajectA,
#grensverleggers{
	margin-top: 0px; 
}

#grensverleggers td:hover,
#grensverleggers th:hover{
	font-weight: bold;
	cursor: pointer;
}

#totaal tr{
	background-color: white;
}

@media (pointer:none), (pointer:coarse) {
	table{
		margin-top: 2.5vh;
	}
	#keuze{
		margin-left: 0%;
		position: static;
		width: 95%;
		margin-left: 2.5%;
	}
	#basis{
		position: static;
		width: 95%;
		margin-left: 2.5%;
	}
}